body {
  background: #463535 url(../images/noise.png) repeat;
  background-size: 100px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#menu {
  background: #fff;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  &:after {
    content: '';
    display: block;
    width: 153px;
    height: 153px;
    border-radius: 100%;
    position: absolute;
    top: -50px;
    left: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
  }

  nav {
    a {
      font-weight: 500;
      font-size: 17px;
      color: #D3D3D3;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      margin: 17px 0;

      &.on {
        color: #505050;
        border-left: 3px solid #505050;
        padding-left: 10px;
      }
    }
  }

  .low {
    height: 68px;
    position: relative;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
    z-index: 2;
    background: #fff;
  }

  .high {
    background: #fff;
    z-index: 30;
    position: relative;
    padding: 13px 30px;
    display: none;
  }

  .logo {
    height: 153px;
    width: 153px;
    border-radius: 100%;
    display: block;
    background: #fff;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    z-index: 20;
    position: absolute;
    top: -50px;
    left: 5px;

    svg {
      width: 35px;
      height: 64px;
      display: inline-block;
    }
  }

  .toggle {
    height: 68px;
    width: 68px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      width: 30px;
      display: block;
      font-size: 0;
    }

    b {
      background: #979797;
      height: 2px;
      width: inherit;
      display: block;
      margin: 6px 0;
      transition: all .3s;
    }

    &.on b {
      &:nth-child(1) {
        transform: rotate(45deg);
        margin-bottom: -8px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        margin-top: -8px;
        transform: rotate(-45deg);
      }
    }
  }
}

#content {
  min-height: 100vh;

  .slick-slider {
    height: 100vh;
    margin-bottom: 0;
  }

  .slick-dots {
    position: fixed;
    bottom: auto;
    left: 10px;
  }

  .copyright {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #737373;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.68);
    padding: 6px 15px;
    font-family: 'Droid Serif', serif;

    b {
      color: #C63030;
      font-weight: normal;
    }
  }

  .slick-track img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
