html, body {
  height: 100%;
}

body {
  background: #463535;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  > .ember-view {
    height: 100%;
  }
}

#menu {
  background: #fff;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  &:after {
    content: '';
    display: block;
    width: 153px;
    height: 153px;
    border-radius: 100%;
    position: absolute;
    bottom: -35px;
    left: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
  }

  nav {
    &:nth-child(2) a:last-child {
      margin-bottom: 0;
    }

    a {
      font-weight: 500;
      font-size: 17px;
      color: #D3D3D3;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      margin: 17px 0;
      transition: all 0.3s;

      &.active {
        color: #505050;
        border-left: 3px solid #505050;
        padding-left: 10px;
      }
    }
  }

  .low {
    height: 68px;
    position: relative;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
    z-index: 2;
    background: #fff;
  }

  .high {
    background: #fff;
    z-index: 30;
    position: relative;
    padding: 13px 30px 5px;
    display: none;

    @media (min-width: 768px) {
      padding: 30px 30px 20px;
    }
  }

  .logo {
    height: 153px;
    width: 153px;
    border-radius: 100%;
    display: block;
    background: #fff;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    z-index: 20;
    position: absolute;
    top: -50px;
    left: 5px;

    svg {
      width: 35px;
      height: 64px;
      display: inline-block;
    }
  }

  .toggle {
    height: 68px;
    width: 68px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      width: 30px;
      display: block;
      font-size: 0;
    }

    b {
      background: #979797;
      height: 2px;
      width: inherit;
      display: block;
      margin: 6px 0;
      transition: all .3s;
    }

    &.on b {
      &:nth-child(1) {
        transform: rotate(45deg);
        margin-bottom: -8px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        margin-top: -8px;
        transform: rotate(-45deg);
      }
    }
  }

  @media (min-width: 922px) {
    height: 90px;
    background: #fff;
    top: auto;
    bottom: 0;

    &:after {
      display: none;
    }

    nav {
      &:first-child {
        text-align: right;

        a:first-child {
          margin-left: 0;
        }
      }

      &:last-child {
        text-align: left;

        a:last-child {
          margin-right: 0;
        }
      }

      a {
        color: #737373;
        display: inline-block;
        margin: 0 10px;
        letter-spacing: 0.28px;
        transition: color border .3s;
        padding: 2px 0;
        box-sizing: border-box;

        &:hover {
          color: black;
        }

        &.active {
          border-left: 0;
          border-bottom: 1px solid #A7A7A7;
          padding-left: 0;
          color: #737373;

          &:hover {
            color: black;
            border-color: black;
          }
        }
      }
    }

    .high {
      display: flex !important;
      background: none;
      height: inherit;
      padding: 0;
      width: 730px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
    }

    .low {
      box-shadow: none;
      background: none;
      height: 118px;
      position: absolute;
      top: -28px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 153px;
      z-index: 200;

      .toggle {
        display: none;
      }

      .logo {
        display: inline-block;
        position: relative;
        top: auto;
        left: auto;
        padding-top: 23px;
        cursor: pointer;

        svg {
          width: 42px;
          height: 76px;
        }

        .index & {
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}

#content {
  height: 100%;
  z-index: 200;
  padding-top: 68px;
  color: #fff;

  .index & {
    padding-top: 0;
  }

  .logo-big {
    display: none;

    @media (min-width: 992px) {
      height: 500px;
      width: 500px;
      border-radius: 100%;
      background: #fff;
      position: absolute;
      top: -250px;
      left: -250px;
      display: block;

      svg {
        width: 122px;
        height: 102px;
        position: absolute;
        right: 90px;
        bottom: 95px;
      }
    }
  }

  .title {
    text-align: center;
    margin-top: 45px;

    h1 {
      font-family: 'Droid Serif', serif;
      font-weight: 700;
      font-size: 29px;
      letter-spacing: 0.71px;
      display: inline-block;

      &:after {
        content: '';
        min-width: 100%;
        height: 2px;
        display: block;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin: 8px -35px 0;
      }
    }
  }

  .image {
    position: relative;
    padding-bottom: 20px;

    &:after {
      content: '';
      background-image: linear-gradient(to top, #463535 10%, transparent 70%);
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    @media (min-width: 768px) {
      background-image: linear-gradient(to top, #463535 10%, transparent 80%);
    }
  }

  .details {
    padding-top: 40px;

    aside {
      padding: 0 25px;
    }

    h1 {
      font-size: 29px;
      font-family: 'Droid Serif', serif;
      display: inline-block;
      margin: 0 0 10px;

      &:after {
        content: '';
        min-width: 100%;
        height: 2px;
        display: block;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-right: -100px;
        margin-top: 10px;
      }
    }

    p {
      font-size: 15px;
      line-height: 23px;
      margin: 30px 0;
    }

    @media (min-width: 768px) {
      h1 {
        font-size: 38px;

        &:after {
          margin-right: -200px;
        }
      }
    }
  }

  .contact-us {
    background: rgba(0, 0, 0, 0.16);
    margin-top: 100px;
    color: #C0C0C0;
    text-transform: uppercase;
    letter-spacing: 0.36px;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px 0;

    @media (min-width: 768px) {
      padding: 40px 0;
      font-size: 17px;
    }
  }

  .slick-slider {
    height: 100%;
    margin-bottom: 0;
    position: relative;

    @media (min-width: 992px) {
      padding-bottom: 90px;
    }
  }

  .slick-dots {
    position: fixed;
    bottom: auto;
    display: flex;
    right: 0;
    width: 45px;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
      display: block;
      background: #fff;
      border-radius: 100%;
      height: 14px;
      width: 14px;
      margin: 5px 0;

      &.slick-active {
        background: #C63030;
      }

      button {
        display: none;
      }

      @media (min-width: 768px) {
        height: 20px;
        width: 20px;
      }

      @media (min-width: 922px) {
        height: 13px;
        width: 13px;
      }
    }
  }

  .copyright {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #737373;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.68);
    padding: 6px 15px;
    font-family: 'Droid Serif', serif;

    b {
      color: #C63030;
      font-weight: normal;
    }

    @media (min-width: 768px) {
      font-size: 15px;
      right: 25px;
      bottom: 25px;
    }

    @media (min-width: 992px) {
      bottom: 110px;
      font-size: 13px;
      transition: background .4s;
      right: 20px;

      &:hover {
        background: #fff;
      }
    }
  }

  .slick-track, .slick-slide {
    height: 100%;
  }

  .slick-list {
    height: 100% !important;
  }

  .slick-track img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 992px) {
    .about &,
    .service & {
      display: flex;
      padding-top: 0;
      padding-bottom: 90px;
      box-sizing: border-box;
    }

    .image {
      order: 2;
      padding-bottom: 0;
      height: 100%;

      &:after {
        background-image: linear-gradient(to right, #463535 10%, transparent 80%)
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .details {
      order: 1;
      padding-top: 50px;
      padding-left: 50px;

      aside {
        padding: 0;
      }

      h1 {
        font-size: 40px;
      }

      .contact-us {
        color: #D1A4A4;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.43px;
        border-radius: 3px;
        margin-top: 0;
        display: inline-block;
        padding: 16px 25px;
      }
    }
  }
}
