html, body {
  height: 100%;
}

body {
  background: #463535;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  > .ember-view {
    height: 100%;
  }

  @media (max-height: 809px) {
    #content .inner .map .google-map {
      height: calc(100% - 59px);
    }
  }
}

#menu {
  background: #fff;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:after {
    content: '';
    display: block;
    width: 153px;
    height: 153px;
    border-radius: 100%;
    position: absolute;
    bottom: -35px;
    left: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
  }

  nav {
    &:nth-child(2) a:last-child {
      margin-bottom: 0;
    }

    a {
      font-weight: 500;
      font-size: 17px;
      color: #D3D3D3;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      margin: 17px 0;
      transition: all 0.3s;

      &.active {
        color: #505050;
        border-left: 3px solid #505050;
        padding-left: 10px;
      }
    }
  }

  .low {
    height: 68px;
    position: relative;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
    z-index: 2;
    background: #fff;
  }

  .high {
    background: #fff;
    z-index: 30;
    position: relative;
    padding: 13px 30px 5px;
    display: none;

    @media (min-width: 768px) {
      padding: 30px 30px 20px;
    }
  }

  .logo {
    height: 153px;
    width: 153px;
    border-radius: 100%;
    display: block;
    background: #fff;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    z-index: 20;
    position: absolute;
    top: -50px;
    left: 5px;

    svg {
      width: 35px;
      height: 64px;
      display: inline-block;
    }
  }

  .toggle {
    height: 68px;
    width: 68px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      width: 30px;
      display: block;
      font-size: 0;
    }

    b {
      background: #979797;
      height: 2px;
      width: inherit;
      display: block;
      margin: 6px 0;
      transition: all .3s;
    }

    &.on b {
      &:nth-child(1) {
        transform: rotate(45deg);
        margin-bottom: -8px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        margin-top: -8px;
        transform: rotate(-45deg);
      }
    }
  }

  @media (min-width: 992px) {
    height: 90px;
    background: #fff;
    top: auto;
    bottom: 0;

    &:after {
      display: none;
    }

    nav {
      &:first-child {
        text-align: right;

        a:first-child {
          margin-left: 0;
        }
      }

      &:last-child {
        text-align: left;

        a:last-child {
          margin-right: 0;
        }
      }

      a {
        color: #737373;
        display: inline-block;
        margin: 0 10px;
        letter-spacing: 0.28px;
        transition: color border .3s;
        padding: 2px 0;
        box-sizing: border-box;

        &:hover {
          color: black;
        }

        &.active {
          border-left: 0;
          border-bottom: 1px solid #A7A7A7;
          padding-left: 0;
          color: #737373;

          &:hover {
            color: black;
            border-color: black;
          }
        }
      }
    }

    .high {
      display: flex !important;
      background: none;
      height: inherit;
      padding: 0;
      width: 730px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
    }

    .low {
      box-shadow: none;
      background: none;
      height: 118px;
      position: absolute;
      top: -28px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 153px;
      z-index: 200;

      .toggle {
        display: none;
      }

      .logo {
        display: inline-block;
        position: relative;
        top: auto;
        left: auto;
        padding-top: 23px;
        cursor: pointer;

        svg {
          width: 42px;
          height: 76px;
        }

        .index & {
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}

#content {
  height: 100%;
  z-index: 200;
  padding-top: 68px;
  color: #fff;

  .google-map {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 80vw;
    position: relative;
    z-index: 20;

    iframe {
      width: inherit;
      height: inherit;
      position: relative;
      z-index: 10;
      border: 0;
    }

    @media (min-width: 768px) {
      height: 50vw;
    }
  }

  .index & {
    padding-top: 0;
  }

  .logo-big {
    display: none;

    @media (min-width: 992px) {
      height: 500px;
      width: 500px;
      border-radius: 100%;
      background: #fff;
      position: absolute;
      top: -250px;
      left: -250px;
      display: block;

      svg {
        width: 122px;
        height: 102px;
        position: absolute;
        right: 90px;
        bottom: 95px;
      }
    }
  }

  .title {
    text-align: center;
    margin-top: 45px;

    h1 {
      font-family: 'Droid Serif', serif;
      font-weight: 700;
      font-size: 29px;
      letter-spacing: 0.71px;
      display: inline-block;

      &:after {
        content: '';
        min-width: 100%;
        height: 2px;
        display: block;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin: 12px -35px 0;
      }
    }

    @media (min-width: 768px) {
      h1 {
        font-size: 35px;
      }
    }

    @media (min-width: 992px) {
      margin-top: 0;

      h1 {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 0;

        &:after {
          margin: 8px -70px 0;
        }
      }
    }
  }

  .image {
    position: relative;
    padding-bottom: 20px;

    &:after {
      content: '';
      background-image: linear-gradient(to top, #463535 10%, transparent 70%);
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    @media (min-width: 768px) {
      background-image: linear-gradient(to top, #463535 10%, transparent 80%);
    }
  }

  .details {
    padding-top: 40px;

    aside {
      padding: 0 25px;
    }

    h1 {
      font-size: 29px;
      font-family: 'Droid Serif', serif;
      display: inline-block;
      margin: 0 0 10px;

      &:after {
        content: '';
        min-width: 100%;
        height: 2px;
        display: block;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-right: -100px;
        margin-top: 10px;
      }
    }

    p {
      font-size: 15px;
      line-height: 23px;
      margin: 30px 0;
    }

    @media (min-width: 768px) {
      h1 {
        font-size: 38px;

        &:after {
          margin-right: -200px;
        }
      }
    }
  }

  .bottom-button {
    background: rgba(0, 0, 0, 0.16);
    margin-top: 100px;
    color: #C0C0C0;
    text-transform: uppercase;
    letter-spacing: 0.36px;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px 0;

    @media (min-width: 768px) {
      padding: 40px 0;
      font-size: 17px;
    }

    @media (min-width: 992px) {
      .contact & {
        position: absolute;
        bottom: 90px;
        right: 0;
        text-transform: none;
        width: 193px;
        background: url(/images/privacy.svg) no-repeat right top;
        padding: 33px 0 0 39px;
        box-sizing: border-box;
        height: 65px;
        font-size: 14px;
        transition: all .3s;

        &:hover {
          color: #fff;
          height: 75px;
        }
      }
    }
  }

  .slick-slider {
    height: 100%;
    margin-bottom: 0;
    position: relative;

    @media (min-width: 992px) {
      padding-bottom: 90px;
    }
  }

  .slick-dots {
    position: fixed;
    bottom: auto;
    display: flex;
    right: 0;
    width: 45px;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
      display: block;
      background: #fff;
      border-radius: 100%;
      height: 14px;
      width: 14px;
      margin: 5px 0;

      &.slick-active {
        background: #C63030;
      }

      button {
        display: none;
      }

      @media (min-width: 768px) {
        height: 20px;
        width: 20px;
      }

      @media (min-width: 922px) {
        height: 13px;
        width: 13px;
      }
    }
  }

  .copyright {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #737373;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.68);
    padding: 6px 15px;
    font-family: 'Droid Serif', serif;

    b {
      color: #C63030;
      font-weight: normal;
    }

    @media (min-width: 768px) {
      font-size: 15px;
      right: 25px;
      bottom: 25px;
    }

    @media (min-width: 992px) {
      bottom: 110px;
      font-size: 13px;
      transition: background .4s;
      right: 20px;

      &:hover {
        background: #fff;
      }
    }
  }

  .slick-track, .slick-slide {
    height: 100%;
  }

  .slick-list {
    height: 100% !important;
  }

  .slick-track img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 992px) {
    .about &,
    .service & {
      display: flex;
      padding-top: 0;
      padding-bottom: 90px;
      box-sizing: border-box;
    }

    .image {
      order: 2;
      padding-bottom: 0;
      height: 100%;

      &:after {
        background-image: linear-gradient(to right, #463535 10%, transparent 80%)
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .details {
      order: 1;
      padding-top: 50px;
      padding-left: 50px;
      position: relative;

      aside {
        padding: 0;
      }

      h1 {
        font-size: 40px;
      }

      .bottom-button {
        color: #D1A4A4;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.43px;
        border-radius: 3px;
        margin-top: 0;
        display: inline-block;
        padding: 16px 25px;
        position: absolute;
        bottom: 50px;
        left: 50px;
        transition: all .3s;

        &:hover {
          background: rgba(0, 0, 0, 0.41);
          color: #ecd1d1;
        }
      }
    }
  }

  .inner {
    padding: 0 25px;

    h2 {
      font-family: 'Droid Serif', serif;
    }

    .categories {
      &:after {
        content: '';
        display: block;
        background: #979797;
        height: 1px;
        opacity: .25;
        width: 70%;
        margin: 55px auto;
      }

      h2 {
        display: none;
      }

      p {
        line-height: 23px;
        font-size: 15px;
        letter-spacing: 0.36px;
      }

      .list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 35px -7px -7px;

        li {
          width: 50%;
        }

        a {
          border-radius: 4px;
          background: rgba(0, 0, 0, .29);
          color: #D1A4A4;
          text-decoration: none;
          letter-spacing: 0.36px;
          display: block;
          margin: 7px;
          text-align: center;
          line-height: 40px;
          transition: all .4s;

          &.on {
            color: #fff;
            background: rgba(0, 0, 0, .71);
          }
        }
      }

      @media (min-width: 768px) {
        width: 65%;
        margin: 0 auto;

        &:after {
          height: 2px;
          margin: 70px auto;
        }
      }

      @media (min-width: 992px) {
        width: 370px;
        margin: 0;
        border-right: 1px solid rgba(255, 255, 255, .16);
        padding-right: 50px;
        box-sizing: border-box;

        &:after {
          display: none;
        }

        h2 {
          display: block;
        }
      }
    }

    .companies {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: -10px;
      padding-bottom: 100px;

      li {
        width: 50%;
        display: flex;
      }

      a {
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        overflow: hidden;
        height: 55px;
        margin: 10px;
        width: 100%;

        img {
          max-width: 80%;
          max-height: 60%;
        }
      }

      @media (min-width: 768px) {
        margin: -20px;

        a {
          height: 100px;
          margin: 20px;

          img {
            max-width: 70%;
            max-height: 55%;
          }
        }
      }

      @media (min-width: 992px) {
        height: 100% !important;
        width: 545px;
        margin: -12px;
        margin-left: 50px;

        li {
          width: calc(100% / 3);
        }

        a {
          margin: 12px;
          height: 80px;
          transition: all .4s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .first-page,
    .second-page {
      display: flex;
      flex-wrap: wrap;
    }

    .product {
      display: block;
      text-decoration: none;
      margin: 50px 0;
      width: 100%;

      figure {
        margin: 0;
        text-align: center;
        width: inherit;
      }

      figcaption {
        color: #fff;
        font-size: 19px;
        font-style: italic;
        font-family: 'Droid Serif', serif;
        letter-spacing: 0.44px;
        margin-top: 20px;
      }

      img {
        max-width: 60%;
        max-height: 230px;
      }
    }

    .address {
      &:after {
        content: '';
        display: block;
        background: rgba(151, 151, 151, 0.25);
        height: 1px;
        width: 70%;
        margin: 60px auto;
      }

      a {
        color: #EF6464;
        text-decoration: none;
      }

      i {
        margin-right: 10px;
        width: 15px;
      }

      h2 {
        display: none;
      }

      table {
        table-layout: fixed;
        width: 100%;
        margin-top: 25px;

        td {
          display: block;
          font-size: 15px;
          letter-spacing: 0.36px;
          line-height: 23px;

          &:first-child {
            font-weight: bold;
            font-family: 'Droid Serif', serif;
            font-size: 18px;
            padding-bottom: 5px;

            &:after {
              content: ':';
              display: inline;
            }
          }

          &:last-child {
            padding-bottom: 30px;
          }
        }

        tr:last-child td:last-child {
          padding-bottom: 0;
        }

        @media (min-width: 768px) {
          margin: 50px auto;
          width: 500px;

          td {
            display: table-cell;
            vertical-align: top;

            &:first-child,
            &:last-child {
              padding: 0 0 20px 0;
            }

            &:last-child {
              text-align: right;

              i {
                float: right;
                margin-left: 20px;
                margin-right: 0;
              }
            }
          }
        }

        @media (min-width: 992px) {
          width: 100%;
          margin-top: 0;
          table-layout: auto;

          td {
            &:first-child {
              width: 240px;
            }

            &:last-child {
              text-align: left;

              i {
                float: none;
                margin-left: 0;
                margin-right: 8px;
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        &:after {
          width: 500px;
          margin: 100px auto;
        }
      }

      @media (min-width: 992px) {
        &:after {
          display: none;
        }
      }
    }

    @media (min-width: 768px) {
      width: 700px;
      margin: 0 auto;
    }

    @media (min-width: 992px) {
      width: 970px;
      padding: 0;
      display: flex;
      height: calc(100vh - 310px);
      padding-top: 60px;
      box-sizing: border-box;

      .partners & {
        min-height: 456px;
      }

      .contact & {
        min-height: 436px;
      }

      aside {
        height: 100%;

        h2 {
          margin: 0 0 30px 0;
          box-sizing: border-box;
          font-size: 25px;
          letter-spacing: 0.61px;
        }
      }

      .map {
        order: 1;
        position: relative;
        padding-right: 50px;
        border-right: 1px solid rgba(255, 255, 255, 0.16);

        .google-map {
          width: 430px;
          height: 380px;

          iframe {
            height: 100%;
          }
        }
      }

      .address {
        order: 2;
        padding-left: 50px;

        h2 {
          display: block;
        }
      }
    }
  }

  @media (min-width: 992px) {
    padding-top: 90px;
    box-sizing: border-box;
  }
}
