<aside class="title">
  <h1>Kachelöfen</h1>
</aside>

<section class="inner">
  <aside class="product-slider">
    {{#slick-slider dots=true arrows=false}}
      <figure>
        <img src="/images/slide-one-md.png">
      </figure>

      <figure>
        <img src="/images/slide-one-md.png">
      </figure>

      <figure>
        <img src="/images/slide-one-md.png">
      </figure>

      <figure>
        <img src="/images/slide-one-md.png">
      </figure>

      <figure>
        <img src="/images/slide-one-md.png">
      </figure>
    {{/slick-slider}}
  </aside>

  <aside class="details">
    <h2>Die Allrounder.</h2>

    <p>Das Herz der effizienten Wärmespender besteht aus Speckstein und sie sind mit vielen verschiedenen Beschichtungen erhältlich.</p>

    <p>Das Design ist elegant und durch die große waagerechte Feuerraumtür betrachten Sie die Flammen wie bei einem offenen Feuer. Die Kamine sind dicht und erfüllen auch die strengsten Emissionsnormen der Welt.</p>

    <h2>Spezielle Merkmale</h2>

    <p>Individuelle Gestaltung je nach Raumsituation möglicht. Wandelbar.</p>

    {{#link-to "contact" class="bottom-button"}}Beratung anfordern{{/link-to}}
  </aside>
</section>
