<aside class="title">
  <h1>Produkte</h1>
</aside>

<section class="inner">
  {{#slick-slider mobileFirst=true responsive=breakpoints class="sliding"}}
    {{#each model as |product|}}

      {{#link-to "products.detail" product class="product"}}
        <figure>
          <img src="/images/products/{{product}}.png">
          <figcaption>{{capitalize product}}</figcaption>
        </figure>
      {{/link-to}}

    {{/each}}
  {{/slick-slider}}
</section>
