<section class="image">
  <img src="/images/about.png">
</section>

<section class="details">
  <aside>
    <h1>Über Uns</h1>

    <p>Gegründet im Jahre 1990 als Einzelunternehmen und erweitert im Jahre 2000 um eine GmbH, durchlief der Betrieb mit konstanter Leidenschaft ein stetiges Wachstum und blieb seiner Philosophie treu.</p>
    <p>Durch professionelle Unternehmensführung blieb unser kleines Team stets flexibel und aufgeschlossen gegenüber Neuem. Daher verwenden wir ausschließlich hochwertige Materialien renommierter Herstellerfirmen.</p>
    <p><b>Denn Ihr Ofen ist unser Anliegen!</b></p>
  </aside>

  {{#link-to "contact" class="bottom-button"}}Beratung anfordern{{/link-to}}
</section>
