<section id="menu">
  <aside class="high">
    <nav>
      {{#link-to "index"}}Start{{/link-to}}
      {{#link-to "products"}}Produkte{{/link-to}}
      {{#link-to "company"}}Unternehmen{{/link-to}}
    </nav>

    <nav>
      <a href="/partner">Partner</a>
      {{#link-to "service"}}Service{{/link-to}}
      {{#link-to "contact"}}Kontakt{{/link-to}}
    </nav>
  </aside>

  <aside class="low">
    {{#link-to "index" class="logo"}}
      {{inline-svg "images/logo.svg"}}
    {{/link-to}}

    {{nav-toggler}}
  </aside>
</section>

<section id="content">
  {{outlet}}
</section>
