{{outlet}}


<aside id="menu">
  <a href="/" class="logo">
    {{inline-svg "logo.svg"}}
  </a>

  <nav class="left">
    <a href="/" class="on">Start</a>
    <a href="/">Produkte</a>
    <a href="/">Unternehmen</a>
  </nav>

  <nav class="left">
    <a href="/">Partner</a>
    <a href="/">Service</a>
    <a href="/">Kontakt</a>
  </nav>
</aside>
