<section id="menu">
  <aside class="high">
    <nav>
      <a href="/" class="on">Start</a>
      <a href="/">Produkte</a>
      <a href="/">Unternehmen</a>
    </nav>

    <nav>
      <a href="/">Partner</a>
      <a href="/">Service</a>
      <a href="/">Kontakt</a>
    </nav>
  </aside>

  <aside class="low">
    <a href="/" class="logo">
      {{inline-svg "images/logo.svg"}}
    </a>

    {{nav-toggler}}
  </aside>
</section>

<section id="content">
  {{outlet}}
</section>
