<section id="menu">
  <aside class="high">
    <nav>
      {{#link-to "index"}}Start{{/link-to}}
      {{#link-to "products"}}Produkte{{/link-to}}
      <a href="/über-uns">Unternehmen</a>
    </nav>

    <nav>
      <a href="/partner">Partner</a>
      <a href="/service">Service</a>
      <a href="/kontakt">Kontakt</a>
    </nav>
  </aside>

  <aside class="low">
    {{#link-to "index" class="logo"}}
      {{inline-svg "images/logo.svg"}}
    {{/link-to}}

    {{nav-toggler}}
  </aside>
</section>

<section id="content">
  {{outlet}}
</section>
