<aside class="title">
  <h1>Kontakt</h1>
</aside>

<section class="inner">
  <aside class="address">
    <h2>Kontaktdaten</h2>

    <table>
      <tr>
        <td>
          Adresse
        </td>
        <td>
          Lamprecht GmbH<br />
          Am Sportplatz 3<br />
          96138 Burgebrach
        </td>
      </tr>

      <tr>
        <td>
          Geschäftsführer
        </td>
        <td>
          Rainer Lamprecht
        </td>
      </tr>

      <tr>
        <td>
          USt-IdNr.
        </td>
        <td>
          207 131 00 154
        </td>
      </tr>

      <tr>
        <td>
          Kontakt
        </td>
        <td>
          09546 - 8357<br />
          09546 - 8357<br />
          kontakt@angefeuert.de
        </td>
      </tr>
    </table>
  </aside>

  <aside class="map">
  </aside>
</section>
