<aside class="title">
  <h1>Kontakt</h1>
</aside>

<section class="inner">
  <aside class="address">
    <h2>Kontaktdaten</h2>

    <table>
      <tr>
        <td>Adresse</td>
        <td>
          Lamprecht GmbH<br />
          Am Sportplatz 3<br />
          96138 Burgebrach
        </td>
      </tr>

      <tr>
        <td>Geschäftsführer</td>
        <td>
          Rainer Lamprecht
        </td>
      </tr>

      <tr>
        <td>USt-IdNr.</td>
        <td>
          207 131 00 154
        </td>
      </tr>

      <tr>
        <td>Handelsregister</td>
        <td>HR Bamberg<br />Abteilung B: 4031</td>
      </tr>

      <tr>
        <td>Kontakt</td>
        <td>
          {{fa-icon "phone"}} 09546 - 8357<br />
          {{fa-icon "fax"}} 09546 - 8357<br />
          {{fa-icon "envelope"}} <a href="mailto:kontakt@angefeuert.de">kontakt@angefeuert.de</a>
        </td>
      </tr>
    </table>
  </aside>

  <aside class="map">
    <h2>Anfahrt</h2>

    <div class="google-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5147.863909688026!2d10.752399978812694!3d49.82494409040003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a21640f9f6ef25%3A0xbe3a4761a03c523a!2sLamprecht+GmbH%2C+Am+Sportplatz+3%2C+96138+Burgebrach!5e0!3m2!1sde!2sde!4v1389795225676" width="500" height="400" frameborder="0" style="border:0"></iframe>
    </div>
  </aside>
</section>

{{#link-to "index" class="bottom-button"}}Datenschutz{{/link-to}}
