<aside class="title">
  <h1>Kontakt</h1>
</aside>

<section class="inner">
  <aside class="address">
    <h2>Kontaktdaten</h2>

    <section class="parts">
      <div>
        <h2>Adresse</h2>
        <p>Lamprecht GmbH <br />Am Sportplatz 3<br />96138 Burgebrach</p>
      </div>

      <div>
        <h2>Geschäftsführer</h2>
        <p>Rainer Lamprecht</p>
      </div>

      <div>
        <h2>USt-IdNr.</h2>
        <p>207 131 00 154</p>
      </div>

      <div>
        <h2>Handelsregister</h2>
        <p>HR Bamberg <br />Abteilung B: 4031</p>
      </div>

      <div>
        <h2>Kontakt</h2>
        <p>09546 - 8357 <br />09546 - 8357 <br />kontakt@angefeuert.de</p>
      </div>
    </section>
  </aside>

  <aside class="map">
  </aside>
</section>
