{{#slick-slider autoplay=false arrows=false dots=true fade=true adaptiveHeight=true}}
  <div class="box">
    <img src="/images/slide-one.png">
  </div>

  <div class="box">
    <img src="/images/slide-two.png">
  </div>

  <div class="box">
    <img src="/images/slide-three.png">
  </div>
{{/slick-slider}}

<a href="http://www.tulikivi.com/de" target="_blank" class="copyright">Foto: <b>Tulikivi</b></a>
