<aside class="title">
  <h1>Produkte</h1>
</aside>

<a href="#" class="mover prev-page">
  {{inline-svg "images/mover.svg"}}
</a>

<section class="inner">
  {{#slick-slider slidesToShow=3 slidesToScroll=3 arrows=false mobileFirst=true responsive=breakpoints}}
    {{#each model as |product|}}
      {{#link-to "contact" class="product"}}
        <figure>
          <img src="/images/products/{{lowercase product}}.png">
          <figcaption>{{product}}</figcaption>
        </figure>
      {{/link-to}}
    {{/each}}
  {{/slick-slider}}
</section>

<a href="#" class="mover next-page">
  {{inline-svg "images/mover.svg"}}
</a>
