<section class="image">
  <img src="/images/service.png">
</section>

<section class="details">
  <aside>
    <h1>Service</h1>

    <p>Neben der vollständigen Installation und Einweisung in den Umgang mit Ihrem neuen Wunschofen bieten wir Ihnen selbstverständlich auch einen kompletten Service nach Fertigstellung Ihres Ofens.</p>
    <p>Dies umfasst sowohl die <b>Wartung</b>, <b>Reperatur</b> und <b>vollständige Reinigung</b> des eingerichteten Ofens, als auch die <b>Modernisierung</b>. Und nicht nur das... Nach Wunsch kümmern wir uns auch um bestehende Öfen, die von anderen Firmen installiert wurden!</p>
  </aside>

  {{#link-to "contact" class="bottom-button"}}Beratung anfordern{{/link-to}}
</section>
